
/* *, *::before, *::after { */
/* *{
box-sizing: border-box;
font-family: 'Gill Sans';
margin: 0;
padding: 0;
}

h1{
  display:flex;
  justify-content: center;
  margin: 0px;
  text-align: center;
  background-color: red;
  border: 0;
  padding: 0;
}

body {
  display:grid;

  /* grid-template-columns: 1fr 3fr;
  grid-template-rows: 10px 1fr 10px; */
  /* background: linear-gradient(to right,#f6490f,#f27813,#ef9614);
  background-repeat: no-repeat;
  height: 30vh;
  width: 30vw;
  align-items: center;
  padding: 50px;
  margin: 0px;

}

.quiz-container{
  display: flex;
  /* align-items: flex-end; */
  /* width: 100vw;
  max-width: 100%;
  background-color: beige;
  height:70vh;
  box-shadow: 0 0 5px 4px;
  flex-direction: row;
  justify-content: center;
  border-radius: 8px;
  text-align: center;
} */

/* .score{
  display: flex;
  justify-content: center;;
  align-items: center;
  font-size: large;
  font-weight: bold;
}

#user-score{
  color:#ef9614;
}

.question{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
} */

/* .btn{
font-size: large;
font-weight: bold;
box-shadow: 0 6px 12px -2px rgba(#f27813, .15);
background: #ef9614;
border-radius: 5px;
padding: 5px 10px;
color: beige;
margin: 6px;
cursor: pointer;
 }

.btn:hover {
border-color: black;
padding: 15px;
} */

 /* .start-btn, .next-btn, .submit-btn, .restart-btn {
  font-size: 1.5rem:
  font-weight: bold;
  padding: 10px 20px;
}
.controls{
  padding: 10px;
  order: 4;
  display:flex;
  justify-content: center;
}

.img{
  display:flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
}
.hide{
  display:none;
}  */



*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Gill Sans';
}
:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}
body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: hsl(var(--hue), 100%, 20%);
}

body.correct {
  --hue: var(--hue-correct);
}
body.wrong {
  --hue: var(--hue-wrong);
}

#winImage , #lostImage{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
  heigth: 10em;
}

.quizContainer {
  width: 800px;
  max-width: 80%;
  background-color: purple;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

/* .btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
} */

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white(29, 240, 29);
  outline: none;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.btn.wrong {
  --hue: var(--hue-wrong);
  color: black;
}

.start-btn,
.next-btn,
.submit-btn,
.restart-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide {
  display: none;
}


#question {
  border: 2px solid red;
}
